body {background-color: #FFFFFF;
	  color: #666666;
}

header {background-color: #00B386;
		color: #FFFFFF;
}

nav {background-color: #70DBDB;
}

h1{ margin-bottom: 0;
} 

h2 {color: #00664D;
}

dt {color: #00664D;
}

.barn {color: #70DBDB;
}
